# --- Python / Streamlit ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.lib/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.streamlit/config.toml
.streamlit/secrets.toml

# --- Dataform ---
# Only needed if you run Dataform CLI locally
node_modules/
package-lock.json
.df-credentials.json
includes/
dataform.json

# --- OS / IDE ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/
.idea/

# --- GCP / Credentials ---
# Never commit your service account keys!
*.json
!dataform.json
!workflow_settings.yaml